
/* ------------------------------------------------------------------------------
	 General Style
-------------------------------------------------------------------------------*/

body {
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	color: #6c7279;
	font-size: 13px;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.section {
	padding: 100px 0;
}
.no-padding {
	padding: 0;
}
.with-padding {
	padding-right: 15px;
    padding-left: 15px;
}
.form-control{
	border-color: white;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-6{
	padding: 0;
}
.float-left{
	float:left;
}
/* ------------------------------------------------------------------------------
	 Component Style
-------------------------------------------------------------------------------*/


a.nav-link{
	color: #6c7279;
}
input,select{
	font-size: 13px !important;
	color: #6c7279 !important;
}
.nav-pills .nav-link{
	background: transparent;
	color: #6c7279;
	border:1px solid lightgray;
}
.nav-link.active{
	background-color: #58C9EE !important;
	border:none;
}
.nav-link[disabled]{
	background: #C6D0D7;
	color: white;
	border:none;
	display: none;
}
.nav-link{
	margin-right: 5px;
	position: relative;
}
.nav-link.active:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(88, 201, 238, 0);
	border-top-color: #58C9EE;
	border-width: 8px;
	margin-left: -8px;
}
.tab-content{
    margin-top: 50px;
	margin-bottom: 10%;
}
.theme-green-btn{
    background: #7AEDBF;
    color:white;
    transition:all 0.5s;
    outline:none;
}
.theme-green-btn:focus{
    box-shadow: none;
}
.theme-green-btn:hover{
    opacity: 0.5;
}


/* ------------------------------------------------------------------------------
	 Page Loader
-------------------------------------------------------------------------------*/

.page-loader{
	position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 1001;
}
.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.loader img{
	width: 30px;
	display: block;
	margin:auto;
	margin-bottom: 15px;
}

/* ------------------------------------------------------------------------------
	 Search bar
-------------------------------------------------------------------------------*/

.search-input{
    font-size: 13px;
    outline:none;
}

.search-input::placeholder {
  color: #B4B4B4;
}

.search-input:focus{
    box-shadow: none;
}


/* ------------------------------------------------------------------------------
	 Login form
-------------------------------------------------------------------------------*/

.login-form-section{
	display: none;
	background: rgba(0,0,0,0.7);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1002;
}
.login-form-panel form label{
	float: left;
	font-size: 11px;
	color:gray;
}
.login-form-panel {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 340px;
	border-radius:10px;
	padding: 45px;
	text-align: center;
	z-index: 10;
}

.login-form-panel input::-webkit-input-placeholder{
  color: #b5b9c8;
}
.login-form-panel input,select  {
  color:#FFFFFF;
  width: 100%;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border:1px solid lightgray;
}
.login-form-panel form button {
  background: #73C8F6;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-size: 14px;
  transition: all 0.3 ease;
  margin-top: 15px;
}
.login-form-panel form button:hover,
.login-form-panel form button:active,
.login-form-panel form button:focus {
  opacity:0.7;
}
.login-form-panel .login-message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login-form-panel .login-message a {
  color: #199AFF;
  color: #199AFF;
  text-decoration: none;
}
.login-form-panel .login-message a:hover {
  opacity:0.7;
}
.login-form-panel .register-form {
  display: none;
}
.login-logo{
	display:block;
	width:100px;
	margin:auto;
	margin-bottom: 30px;
}
.close-login-form-btn{
	background:transparent;
	border:none;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 18px;
}
.close-login-form-btn:active,.close-login-form-btn:focus{
	outline: none;
}
.close-login-form-btn:hover{
	opacity: 0.7;
}
.login-form-outside{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

/* ------------------------------------------------------------------------------
	 Typography
-------------------------------------------------------------------------------*/
p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
h1,h2,h3,h4,h5{
    margin-bottom: 0;
}
h1 {
	font-size: 28px;
	color: #6c7279;
}
h2 {
	font-size: 22px;
	color: #6c7279;
}
h3 {
	font-size: 18px;
	font-weight: 300;
	color: #6c7279;
}
h4 {
	font-size: 16px;
	font-weight: 400;
	color: #6c7279;
}
h5 {
	font-size: 14px;
	color: #6c7279;
}
a {
	color: #e84545;
}
a:hover, a:focus {
	text-decoration: none;
	-moz-transition: background-color, color, 0.3s;
	-o-transition: background-color, color, 0.3s;
	-webkit-transition: background-color, color, 0.3s;
	transition: background-color, color, 0.3s;
}
.light-font{
	color:#ADADAD;
	font-weight: lighter;
}

/* ------------------------------------------------------------------------------
	 Header & navigation
-------------------------------------------------------------------------------*/
.top-menu{
	height: 110px;
}
#top-menu-header {
	background: white;
	width: 100%;
	z-index: 999;
}
#top-menu-header .header-content {
	margin: 0 auto;
	padding-top: 30px;
	width: 75%;
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
}
#top-menu-header .logo img {
	width: 80px;
}
.navigation.open {
	opacity: 0.9;
	visibility: visible;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.navigation {
	float: right;
	line-height: 50px;
}
.navigation li {
	display: inline-block;
}
.navigation a {
	color: #4B4B4B;
	font-size: 12px;
	font-weight: 300;
	margin-left: 20px;
	letter-spacing: 2px;
}
.navigation a:hover, .navigation a.active {
	color: #bcbcbc;
}
.nav-toggle {
	display: none;
	height: 44px;
	overflow: hidden;
	position: fixed;
	right: 5%;
	text-indent: 100%;
	top: 32px;
	white-space: nowrap;
	width: 44px;
	z-index: 99999;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-toggle:before, .nav-toggle:after {
	border-radius: 50%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
.nav-toggle:before {
	background-color: #81DBF8;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-toggle:after {
	background-color: #e84545;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.nav-toggle span {
	background-color: #fff;
	bottom: auto;
	display: inline-block;
	height: 3px;
	left: 50%;
	position: absolute;
	right: auto;
	top: 50%;
	width: 18px;
	z-index: 10;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.nav-toggle span:before {
	-moz-transform: translateY(-6px) rotate(0deg);
	-ms-transform: translateY(-6px) rotate(0deg);
	-webkit-transform: translateY(-6px) rotate(0deg);
	transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
	-moz-transform: translateY(6px) rotate(0deg);
	-ms-transform: translateY(6px) rotate(0deg);
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.nav-toggle.close-nav:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nav-toggle.close-nav span {
	background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
	background-color: #fff;
}
.nav-toggle.close-nav span:before {
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}
.login-btn{
	font-size: 13px;
	background: #81DBF8;
	color:white;
}
.login-btn:hover{
	background: #58C9EE;
}

/* ------------------------------------------------------------------------------
	 Body Content
-------------------------------------------------------------------------------*/
.body-content{
	width: 75%;
	position: relative;
	margin:0 auto;
}


/* ------------------------------------------------------------------------------
	 Footer
-------------------------------------------------------------------------------*/
.footer {
	width: 75%;
	margin: auto;
	text-align: left;
	padding-top: 3%;
	background: #F7F7F7;
	margin-bottom: 5%;
}
.footer h4 {
	font-size: 13px;
	color: #000;
	margin: 0 0 15px 0;
	padding: 0px;
}
.footer p {
	font-size: 11px;
	color: #6c7279;
}
.footer a {
	color: #178CD8;
}
.footer a:hover {
	text-decoration: underline;
}
.footer .footer-share {
	margin-top: 0;
}
.footer .footer-share li {
	display: inline-block;
	float: none;
}
.footer .footer-share a {
	border: none;
	font-size: 18px;
	color: #4B4B4B;
	letter-spacing: 15px;
}
.footer .fa-heart {
	color: #e84545;
	font-size: 11px;
	margin: 0 2px;
}
.footer-copyright{
	text-align: center;
	padding-top: 13px;
	margin-top: 20px;
	background-color: #f2f2f2;
}
