@media screen and (max-width: 1024px) {
	#header .header-content {
		width: 90%;
	}
	.nav-toggle {
		display: block;
	}
	#top-menu-header{
		background: white;
		position: fixed;
	}
	#top-menu-header .header-content {
		border-bottom: 0;
		padding: 25px 0;
	}
	.localization{
		width: 40%;
	}
	.navigation {
		position: fixed;
		background-color: #000;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 99999;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
		transition: opacity 0.5s, visibility 0s 0.5s;
	}
	.navigation .primary-nav {
		position: relative;
		top: 45%;
		-moz-transform: translateY(-45%);
		-ms-transform: translateY(-45%);
		-webkit-transform: translateY(-45%);
		transform: translateY(-45%);
	}
	.navigation li {
		display: block;
		margin-bottom: 20px;
	}
	.navigation a {
		display: block;
		font-size: 25px;
		margin: 0;
		color: #fff;
		font-size: 13px;
		text-align: center;
	}
	#top-menu-header .header-content, .body-content, .footer{
		width:80%;
	}
	.landing-content{
		width: 60%;
	}
}
@media screen and (max-width: 768px) {
	.footer .footer-col {
		margin-bottom: 50px;
	}
	#top-menu-header .header-content, .body-content, .footer{
		width:85%;
	}
	.landing-content{
		width: 60%;
	}
}
@media screen and (max-width: 640px) {
	#top-menu-header .header-content, .body-content, .footer{
		width:85%;
	}
}
@media screen and (max-width: 480px) {
	#top-menu-header .header-content, .body-content, .footer{
		width:90%;
	}
}
@media screen and (max-width: 320px) {
	#top-menu-header .header-content, .body-content, .footer{
		width:95%;
	}
}
